
th {
    background-color: green;
}
  


 a {
    font-size: 35px;
    text-decoration: none;
} 

table{
    border-collapse: collapse;
    width:500px;
        /* margin-left: auto;
        margin-right: auto;
        margin-top: 20px; */
      
}
th,td,table{
    border: 2px solid green;
    padding: 15px;

}
.copy{
    text-align: center;
    padding-top: 0px;
   
    
}
.header{ background-color: gray;



    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70dvh;
   
    
}

footer{
    height: 60px;
    background-color: gray;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.t1 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}


