header{
    background-color: gray;
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 0px;

}
footer{
    background-color: gray;
    height: 49px;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 4dvh;
   
}
.button{
    background-color: blueviolet;
    text-align: center;
    
}
.c4{
    text-align: center;
    padding-top: 0px;
}
a{
   
    text-decoration: none;
    font-size: 50px;
}
h2{
    text-align: center;
   
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70dvh;
}



h3 form  {
    margin-top: 0px;
    padding-bottom: 40px;
}

nav{
    margin-left: 70px;
}
.sec2{
    float: left;
    text-shadow: none;
    text-decoration:none;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    align-items: center;
}
form{
    text-align: center;
}
 

